body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(23, 33, 43);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: rgb(235, 235, 235);
}

.container {
    text-align: center;
    padding: 20px;
    flex: 1;
}

h1 {
    font-size: 2em;
    margin-bottom: 0px;
}

.ref-info, .reward-slider {
    background: rgb(23, 33, 43);
    border-radius: 20px;
    padding: 5%;
    padding-top: 1%;
    box-shadow: 3px 3px 6px #0066ff;
    margin-bottom: 5%;
}

.reward-slider {
    position: relative;
    overflow: hidden;
}

.reward-slide {
    display: none;
}

.reward-slide:first-child {
    display: block;
}

.slider-dots {
    text-align: right;
    margin-top: 0px;
}

.slider-dots .dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 2px;
    background-color: #0066ff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-dots .dot.active {
    background-color: #0066ff59;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(23, 33, 43);
    padding: 10px 0;
    border-top: none;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(235, 235, 235);
    font-size: 12px;
    transition: transform 0.2s;
    background: rgb(23, 33, 43);
    border-radius: 10px;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.nav-item .material-icons-outlined {
    font-size: 24px;
    margin-bottom: 5px;
    color: rgb(235, 235, 235);
}

.nav-item span {
    opacity: 0.7;
}

.nav-item:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(23, 33, 43);
}

.ref-count {
    font-size: 2em;
    color: #717171;
    margin-top: 2%;
    margin-bottom: 4%;
}

.referral-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: -5%;
}

a {
    margin-left: 20%;
}

#copy-button {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff00;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#copy-button:hover {
    background-color: #0057b357;
}

#copy-button .material-icons-outlined {
    font-size: 20px;
}

#copy-button.success {
    background-color: #28a745;
}

#copy-button.success .material-icons-outlined {
    content: 'check';
    color: #ffffff;
}
